@use "variables" as *;

@mixin flex-center($direction: column, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin box-shadow($enabled: true) {
  @if $enabled {
    box-shadow: 0 $shadow-offset-y $shadow-blur-radius $color-foreground-shadow;
  } @else {
    box-shadow: none;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  }
}
