.auth-card-form-submit {
  background-color: $color-primary;
  color: $color-background-elevated;
  border-radius: $border-radius-sm;
  border: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0.5rem 2rem;
  margin: 1rem 0 0 0;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $color-primary-strong;
  }
}
