.auth-card-form-validity-icon {
  @include flex-center($direction: row, $justify: baseline);
  gap: 0.2rem;

  &-label {
    font-weight: 700;
    color: $color-foreground-muted;
  }

  svg {
    height: 1.25rem;
    width: 1.25rem;

    &.valid-icon {
      stroke: $color-valid;
    }

    &.warning-icon {
      stroke: $color-warning;
    }

    &.error-icon {
      stroke: $color-error;
    }

    &.neutral-icon {
      stroke: $color-foreground-muted;
    }
  }
}
