@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 15%;
    --card: 0 0% 99%;
    --card-foreground: 0 0% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 15%;
    --primary: 0 72% 45%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 30% 50%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 92%;
    --muted-foreground: 0 0% 50%;
    --accent: 0 0% 92%;
    --accent-foreground: 0 0% 15%;
    --destructive: 0 65% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 72% 45%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: "Open Sans", sans-serif;
  }
}
