@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(0 0% 15%);
    --card: hsl(0 0% 99%);
    --card-foreground: hsl(0 0% 15%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(0 0% 15%);
    --primary: hsl(0 72% 45%);
    --primary-foreground: hsl(0 0% 98%);
    --secondary: hsl(220 30% 50%);
    --secondary-foreground: hsl(0 0% 98%);
    --muted: hsl(0 0% 92%);
    --muted-foreground: hsl(0 0% 50%);
    --accent: hsl(0 0% 92%);
    --accent-foreground: hsl(0 0% 15%);
    --destructive: hsl(0 65% 51%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(0 0% 90%);
    --input: hsl(0 0% 90%);
    --ring: hsl(0 72% 45%);
    --radius: 0.5rem;
    --chart-1: hsl(12 76% 61%);
    --chart-2: hsl(173 58% 39%);
    --chart-3: hsl(197 37% 24%);
    --chart-4: hsl(43 74% 66%);
    --chart-5: hsl(27 87% 67%);
  }

  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: "Open Sans", sans-serif;
  }
}
