.auth-card-form-visibility-icon {
  @include flex-center($direction: row, $justify: baseline);
  cursor: pointer;

  background-color: transparent;

  svg {
    height: 1.25rem;
    width: 1.25rem;
    stroke: $color-foreground;
  }
}
