.auth-card {
  @include box-shadow;
  background-color: $color-background-elevated;
  padding: 2rem 3rem;
  margin: 3rem 0;
  border-radius: 10px;
  width: 28rem;

  &-title {
    font-size: 2rem;
    font-weight: 750;
    text-align: center;
    margin: 0 0 2rem 0;
  }

  &-form {
    @include flex-center;

    &-label {
      width: 100%;
      text-align: left;
      font-weight: 600;
    }

    &-input-container {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      // gap: 0.5rem;
      width: 100%;
      margin: 0 0 1rem 0;
    }

    &-input {
      width: 100%;
      height: 2rem;
      font-size: 1rem;
      padding: 0 0 0 0.3rem;
      z-index: 1;
    }

    &-validity-icon-group {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      margin: 0 0 1rem 0;
    }
  }

  @include respond(sm) {
    @include box-shadow($enabled: false);

    // &-form-input {
    //   background-color: $color-background;
    // }
  }
}
