.auth-card {
  @include box-shadow;
  background-color: $color-background-elevated;
  padding: 2rem 3rem;
  margin: 3rem 0;
  border-radius: $border-radius-lg;
  width: 28rem;

  &-title {
    font-size: 2rem;
    font-weight: 750;
    text-align: center;
    margin: 0 0 2rem 0;
  }

  &-form {
    @include flex-center;
    gap: 1rem;

    &-label {
      width: 100%;
      text-align: left;
      font-weight: 600;
    }

    &-input {
      border: 1px solid $color-foreground-light;
      border-radius: $border-radius-sm;
      width: 100%;
      height: 2.5rem;
      font-size: 1rem;
    }

    .auth-nav-link {
      @include flex-center;
      gap: 0.25rem;
      width: 100%;
      p {
        text-align: center;
      }
    }
  }

  @include respond(sm) {
    @include box-shadow($enabled: false);
  }
}
