.auth-card-form-input-side-icon {
  width: 100%;

  &-container {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;

    input {
      padding: 0 calc(20px + 1rem - 1px) 0 0.7rem; // icon width + icon margin - right border width
    }

    &-icon-hidden {
      input {
        padding: 0 0.7rem;
      }
    }

    .auth-card-form-icon {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      padding: 0;
      padding: 0.5rem;
      z-index: 1;
      border: none;
    }
  }
}
