.auth-card-form-input-side-icon {
  width: 100%;

  &-container {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;

    .auth-card-form-icon {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      padding: 0;
      padding: 0.5rem;
      z-index: 1;
      border: none;
    }
  }
}
